---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import testshot from "../testshot-1.jpg";
import classroom1 from "../classroom-1.jpg";
import classroom2 from "../classroom-2.jpg";
import classroom3 from "../classroom-3.jpg";
import classSupplies from "../classsupplies-1.jpg";
---

<Layout title="Academic Allies">
  <main>
    <section>
      <div class="md:flex">
        <div>
          <Image
            src={testshot}
            alt="A bird sitting on a nest of eggs."
            width="800"
            height="500"
          />
        </div>
        <div class="flex flex-col justify-center gap-6 p-6">
          <h1 class="text-4xl">
            TRANSFORM YOUR RELATIONSHIPS WITH ACADEMIC ALLIES
          </h1>
          <p>
            At Academic Allies, we provide top-notch educational consulting
            services to help you reach your full potential. Contact us to learn
            more about how we can help you succeed!
          </p>
          <div class="flex">
            <a
              class="rounded bg-[#04233b] px-10 py-5 text-white"
              href="mailto:contact@academicallies.org"
              >Find Out More
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container mx-auto">
        <div class="my-8 text-center">
          <h2 class="text-3xl">WELCOME TO ACADEMIC ALLIES!</h2>
        </div>
        <div class="justify-items-center md:grid md:grid-cols-2">
          <div class="my-6 flex max-w-md flex-col items-center">
            <h3 class="text-xl">Our Mission</h3>
            <Image
              src={classroom1}
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p class="text-center">
              At Academic Allies, our mission is to provide personalized
              educational consulting services to schools and professionals. We
              believe that every individual has unique strengths and challenges,
              and we work closely with our clients to help them achieve their
              full potential.
            </p>
          </div>
          <div class="my-6 flex max-w-md flex-col items-center">
            <h3 class="text-xl">Our Team</h3>
            <Image
              src={classroom2}
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p class="text-center">
              Our team of experienced consultants has a diverse background in
              education, business, and other fields. We bring a wealth of
              knowledge and expertise to our work, and we are committed to
              providing the highest level of service to our clients.
            </p>
          </div>
          <div class="my-6 flex max-w-md flex-col items-center">
            <h3 class="text-xl">Our Services</h3>
            <Image
              src={classroom3}
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p class="text-center">
              We offer a range of services to help our clients achieve their
              goals, including product alignment, sales consulting, and
              relationship strategies.
            </p>
          </div>
          <div class="my-6 flex max-w-md flex-col items-center">
            <h3 class="text-xl">Contact Us</h3>
            <Image
              src={classSupplies}
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p class="text-center">
              Ready to take the next step? Contact us today to learn more about
              our services and how we can help you achieve your goals. We look
              forward to hearing from you!
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
